
@{
    ViewData["Title"] = "Index";
}

<h2>Meassage from ViewBag:</h2><h2 style="color:purple">@ViewBag.Message</h2>
<br />
<h2>Details of Employees from ViewData:</h2>
<table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Designation</td>
        <td>Contact</td>
    </tr>
    @foreach (var emp in (IEnumerable<Employee>) VempData["EmpList"])
    {
    <tr>
    <td>@emp.Id</td>
    <td>@emp.Name</td>
    <td>@emp.Designation</td>
    <td>@emp.Contact</td>
    </tr>
    }

</table>
